* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  display: inline;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #0a0c18;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 350px;
  width: 900px;
  border-radius: 0 4px 4px 0;
  display: flex;
}

.description {
  width: 50%;
  background-color: #1c1938;
  padding: 60px;
}

.image {
  width: 50%;
}

.image-style {
  height: 100%;
  width: 100%;
  border-radius: 0 4px 4px 0;
}

.title {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bolder;
}

.insights {
  color: #9b5ec9;
}

.sub-title {
  color: #a29fba;
  font-family: Helvetica;
  font-size: 0.875rem;
  line-height: 150%;
  margin-top: 20px;
}

.numbers {
  display: flex;
  font-family: Helvetica;
}

.box {
  width: 33%;
  margin-top: 50px;
}

.numbers-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25rem;
}

.numbers-sub {
  color: #a29fba;
  margin-top: 4px;
  font-size: 0.75rem;
}
